# binary
pociagi
main
DlugieLinie/dl
example
network_test1
network_test2
private/42
build

#KDevelop
*.kdev*
*kate-swp
*.kdev4*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

svn
