# binary
pociagi
main
DlugieLinie/dl
example

#KDevelop
*.kdev*
*kate-swp*
network_test1
network_test2

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

svn
